*{
    margin: 0;
    padding: 0;
}
.med{
    text-align: center;
}
body,h1,h2,h3,h4,h5,h6,span,a,p{
    font-family: 'Work Sans',sans-serif;
}
.mid{
    max-width:1300px;
    margin:auto;
    text-align: center;
}
/* css*/
.clear::after{
    content:"";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
.header{
    width: 100%;
    border-bottom:1px solid #ddd;
    padding: 6px 0px;
}
.header-logo{
    width:30%;
}
.header-logo a{
    color: #010101;
    text-decoration: none;
    font-size:20px;
    margin-top:10px;
    margin-right:30px;
    font-weight: 500px;
    float: right;
   
}
.header-logo a:hover{
    color:rgb(201, 198, 198);

}
.header-logo img{
    height:50px;
    width:auto;
    float: left;
    margin-left:120px;
}

.header-menu{
    width: 50%;
}
.fa-caret-down{
    color: #010101;
}

.header-menu ul{
}
.header-menu ul li {
    display: inline-block;
    margin-right:30px;
    line-height:45px;
    position: relative;

    
    

}

.header-menu ul li a{
    display:block;
    text-decoration: none;
    font-size:18px;
    color: #010101;

}

.header-menu ul li a:hover{
    color: #6278df;
}

.header-menu ul li ul{
    position:absolute;
    left:0;
    top:100%;
    background:#fff;
    width:100px;
    height:150px;
    background-color: rgb(243, 240, 240);
    visibility: hidden;
    opacity:0;
    transform-origin: top center;
    transition: .5s;
    transform:scaleY(0);
    z-index:90;
}
.header-menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
}
.header-menu ul li ul li{
    display: inline;
    height:150px;
    margin-right:20px;

    
}
.header-menu ul li ul li a:hover{
color:#6278df;
}
.tty{
    margin-top:-40px;
}
.header-buttom{
    width:20%;
}
.header-buttom a{
    border:2px solid  #6278df;
    font-size:18px;
    padding:8px 26px;
    display:inline-block;
    text-decoration: none;
    border-radius:10px;
    margin-top: 5px;
    color: #6278df;
}
.header-buttom a:hover{
    background-color: #6278df ;
    color:#fff;
}
/*baner*/
.header-baner{
    background:url(baner.png)no-repeat center;
    background-size: cover;
    padding: 100px 0px;
    color: #fff;
    position: relative;
    z-index: 9;
}
.header-baner::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background: rgba(0, 0, 0, .5);
    z-index:-1;
}
.med h3{
    font-size:24px;
    font-weight:400;
}
.med h1{
    font-size:55px;
    margin: 30px 0;
    font-weight:auto;
}
.med button{
    padding:15px 30px;
    border-radius:10px;
    color:grey;
    background:#fff;
    font-size:20px;
    font-weight:600;
    border:none;
}
.med button:hover{
    background: #6278df ;
    color:#fff;
    transition:.4s;
}
/*video*/
.video-content{
    padding:100px 0;
}

.video-left{
    width:48%;
}
.video-right{
    width:48%;
}
.video-right h1{
  font-size:35px;
  font-weight:500;
  margin-right:230px;
  text-align: justify;
  margin-top:-10px;
}
.video-right p{
    font-size:20px;
    display:block;
    text-align: justify;
    margin-top:-15px;
    margin-right:50px;
    color: silver;

}
/*service-section*/
.service-section{
    background:#fff;
    padding-top:10px;
    
}
.src-titele h1{
    margin:30px 0;
    font-size:40px;
    font-weight:800;
}
.src-titele p{
 font-size:25px;
 font-weight:200;
 color:grey;
}
.src-box{
    margin-top:100px;
    height:250px;
    width:420px;
    display: inline-block;
    float: left;
    margin-bottom:30px;
    background:rgb(248, 243, 243);
    margin-left:25px;
    display:block;
}
.src-icon{
    height: 100%;
    width:30%;
}
.src-icon i{
    font-size:60px;
    color:#6278df ;
    margin-top:60px;
    margin-left:20px;
}
.src-p{
    height:100%;
    width:70%;
}

.src-p h3{
    font-size:30px;
    font-weight:400;
    margin-top:60px;

}
.src-p p{
    margin-top:40px;
    font-size:25px;
    font-weight: 300;
    color:#010101;
}
/* service*/
.koka{
    overflow: hidden;
    height:auto;
    width:100%;
    background:rgb(240, 239, 239);
}
.ttri h1{
    text-align:center;
    margin-top:50px;
    font-size:60px;
    font-weight:300;
}
.ttri h5{
    text-align: center;
    margin-top:30px;
    font-size:28px;
    font-weight:200;
}
.lomba{
    height:1000px;
    width:400px;
    background:#f7f9ff;
    border-radius:4px;
    margin-top:40px;
    display:inline-block;
    float: left;
    margin-left: 35px;
    margin-bottom:50px;
}
.lomba-header{
    height:350px;
    width:100%;
    border-bottom:2px solid grey;
}
.lomba-header:hover{
    background:#6278df;
    color:#fff;
    transition:.4s;
}
.lomba-header h2{
    font-size:60px;
    color:#010101;
    margin-left:30px;
    margin-top:20px;
}
.yyl{
    padding-top:40px;
    font-size:30px;
    font-weight: 400;
    margin-left:30px;
}
.taka{
    float: right;
    margin-right:290px;
    margin-top:-70px;
    font-size:60px;
}
.mas{
    float: right;;
    margin-right:185px;
    font-size:30px;
    font-size:400;
    margin-top:-50px;

}
.lomba-header h4{
    font-size:30px;
    font-weight:400;
    margin-top:40px;
    margin-left:30px;
    color: #010101;
}
.lomba-header p{
    font-size:25px;
    font-weight:300;
    color: #010101;
    margin-left:30px;
    margin-top:20px;

}
.lomba-foo ul{
    margin-left:15%;
}
.lomba-foo ul li{
    margin-top:50px;
    font-size:20px;
    display: block;
    color:grey;
    
}
.lomba-foo button{
    margin-top:40px;
    display: block;
    background:#ddd;
    padding:20px 20px;
    box-sizing: border-box;
    border:none;
    border-radius:5px;
    font-size:30px;
    margin-left:80px;
    font-weight:400;
}
.lomba-foo button:hover{
    background:#6278df;;
    color: #fff;
    transition:.4s;
}
.lomba-foo i{
    color:#6278df;}

.item-ico{
    color:#6278df;
    font-size:30px;
}
.photos{
    height: 650px;
    width: 100%;
    overflow: hidden;
    background:#fff;
}
.photos h1{
    margin-top:50px;
    text-align: center;
    font-size:54px;
    font-weight:500;
    color: #010101;
}
.png-ig{
    height:400px;
    width:300px;
    background:rgb(248, 158, 125);
    border-radius:5px;
    margin-top:50px;
    display: block;
    float: left;
    margin-left:30px;
}
.png-ig img{
    width:100%;
    height:65%;
}
.png-ig h3{
    margin-top:24px;
    font-size:40px;
    font-weight:300;
    margin-left: 20px;
    color:#fff;
}
.png-ig p{
    margin-top:5px;
    font-size:25px;
    font-weight: 300;
    margin-left:20px;
    color:#fff;
}
.howto{
    height: 500px;
    width:100%;
    background:rgb(248, 243, 243);
    margin-top:-30px;
    overflow: hidden;
}
.howto h3{
    font-size:30px;
    font-weight:300;
    color:#010101;
    text-align: center;
    margin-top:80px;
}
.howto h1{
    margin-top:50px;
    font-size:60px;
    font-weight:400;
    text-align: center;
}
.howto input{
   margin:60px;
   padding:15px 40px;
   background:#fff;
   border:none;
   border-radius:10px;
   font-size: 40px;
   font-weight:300;
   display:block;
   margin-left:17%;
   box-shadow:3px 3px 10px 0 black;

}
.howto button{
    float: right;
    font-size:40px;
    font-weight:300;
    padding:13px 35px;
    color:grey;
    background:#fff;
    margin-top:-135px;
    margin-right: 24%;
    border-radius:10px;
    border:none;
    box-shadow:3px 3px 10px 0 black;
}
.howto button:hover{
    background:#6278df;;
    color: #fff;
    transition:.4s;
}
.model{
    height:600px;
    width: 100%;
    background: rgb(255, 254, 252);
    margin-top:20px;
}
.model h1{
    font-size:50px;
    font-weight:500;
    margin-top:90px;
    margin-left:40px;
}
.model p{
    float: right;
    max-width:600px;
    font-size:25px;
    font-weight:400;
    margin-top:-40px;
    margin-bottom:-80px;
}
.nextt{
    height:250px;
    width: 600px;
    background-color:#fff;
    margin-top:150px;
    display: block;
    float: left;
    margin-left:50px;
    box-shadow:4px 4px 20px 0  black;
}
.nextt img{
    max-width:50%;
    height: 100%;
}
.nextt h3{
    float: right;;
    color:#010101;
    margin-top:40px;
    margin-right:130px;
    font-size:30px;
    font-weight:400;
    
}
.nextt p{
    float: right;
    color:#010101;
    max-width:270px;
    margin-top:-150px;
}
.ms-sections{
    width:100%;
    height: auto;
    background:#fff;
}
.sms-box{
    width:25%;
    height: 450px;
    float: left;
    margin-left:90px;
    
}
.wright{
    width:100%;
    background:rgb(255, 255, 255);
    height:60%;
    border:3px gray;
    box-shadow:4px 6px 14px 0 black;
    position: relative;
}
.wright::after{
    content:"";
    position: absolute;
    bottom:-30px;
    box-shadow:2px 2px 0px 2 #010101;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 40px 0 40px;
    border-color: #fff transparent transparent transparent;


}
.wright p{
    text-align: center;
    line-height: 1.5em;
    margin-top:20px;
    font-size:25px;
    font-weight: 400;
    display: block;

}
.sms-box img{
    height:150px;
    width: auto;
    border-radius:50%;
    margin-top:30px;
}
.sms-box h4{
    float:right;
    font-size:25px;
    font-weight:400;
    margin-top:60px;
    margin-right:30px;
}
.sms-box h6{
    float: right;
    font-size:20px;
    font-weight: 500;
    margin-right:110px;
    margin-top:-80px;
}
.foot{
    margin-top: 500px;
    overflow: hidden;
    height: auto;
    background-color:#f7f9ff;
}
.lokation{
    margin-top:57px;
}
.contace{
    float: right;
    width: 45%;
}
.contace h2{
    margin-top:-700px;
    font-size:30px;
    font-weight:500;
    margin-bottom:30px;

}
.contace p{
    font-size:25px;
    font-weight:300;
    color:#010101;
    margin-bottom:30px;

}
.ipt1{
    padding:15px 10%;
    background:#fff;
    border:none;
    font-size:40px;
    border-radius:5px;
    box-shadow:3px 3px 10px 0 black;
}

.ipt2{
    padding:15px 5px;
    background:#fff;
    border:none;
    font-size:25px;
    border-radius:5px;
    margin-top:20px;
    box-shadow:3px 3px 10px 0 black;
}
.tu{
    float: left;
    margin-top: -420px;
}
.rt{
    float: right;
    margin-top:-420px;
    margin-right:50px;
}
.rrto{
    margin-top:120px;
    margin-left:10px;
    padding:-10px 10px;
    border-radius:5px;
    font-size:15px;
    font-weight:800;
    border:none;
    box-shadow:3px 3px 10px 0 rgb(18, 17, 19);
}
.contace button{
    font-size:30px;
    font-weight:600;
    float: left;
    margin-top: -100px;
    margin-left:20px;
    color:#010101;
    padding:5px 18px;
    border-radius:5px;
    background:#fff;
    box-shadow:3px 3px 10px 0 rgb(18, 17, 19); 
    border: none;
}
.contace button:hover{
    background:#6278df;
    color: #fff;
    transition:.5s;

}
.yyjt{
    font-size:30px;

}
.hhh{
    text-align: center;
    margin:30px;
    font-size:25px;
    font-weight:400;
}






